<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static',filename='css/style.css') }}" rel="stylesheet">
    {% block header %}{% endblock %}
</head>

<body>
    <div class="container">
        <div class="title">
            <h1>BÁN HÀNG TRỰC TUYẾN</h1>
        </div>
        <div class="nav-bar">
            <div class="nav-item"><a href="/products">Tất cả</a></div>
            <div class="nav-item"><a href="#">Điện thoại di động</a></div>
            <div class="nav-item"><a href="#">Máy tính bảng</a></div>
        </div>
        <div class="clearfix"></div>
        {% block body %}{% endblock %}
    </div>
</body>

</html>